body{background-color: #eee;}
.text{font-family:Arial,sans-serif;}
.t2{font-size:1.2rem;}
.t3{font-size:1.3rem;}
.t4{font-size:1.4rem;}
.t5{font-size:1.5rem;}

.footer{position:absolute;bottom:5%;left:5%;}

.vid{
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 330px;
    height: 230px;
    top: 50%;
    transform: translate(0,-50%);
    border:1px dotted red;
    background-color: #000;
    box-shadow: 5px 5px 2px   rgba(0,0,0,0.4);
    display:none;
}



.vid_in{
    position: absolute;
    margin: 0 auto;    
    width: 300px;
    height: 170px;
    bottom:15px;
    left: 0;
    right: 0;   
}

#close {
    margin: 10px;
    float:right;
}

.vid:target{
    display:block;
}